body {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.87);
}

#app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas{
  background-color: #006131;
}

@font-face {
  font-family: "condensedsemibold";
  src: url("https://tech-iion.github.io/advertiser-creatives/allianderAd/assets/ProximaNovaExtraCondensedSemibold.otf");
}

@font-face {
  font-family: "condensedextrabold";
  src: url("https://tech-iion.github.io/advertiser-creatives/allianderAd/assets/ProximaNovaExtraCondensedExtrabold.otf");
}

@font-face {
  font-family: "semibold";
  src: url("https://tech-iion.github.io/advertiser-creatives/allianderAd/assets/ProximaNovaSemibold.otf");
}

.dummy {
  color: #ffffff;
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: -1;
}

.dummy p {
  opacity: 1;
}

.dummy p:nth-child(1) {
  font-family: "condensedsemibold";
}

.dummy p:nth-child(2) {
  font-family: "condensedextrabold";
}

.dummy p:nth-child(3) {
  font-family: "semibold";
}

/* Camera Flash Effect */
@keyframes cameraFlash {
  0% {
    opacity: 0; /* Start invisible */
  }
  25% {
    opacity: 1; /* Bright flash */
  }
  100% {
    opacity: 0; /* Fade out completely */
  }
}

.camera-flash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white; /* Bright white for the flash */
  opacity: 0; /* Default state invisible */
  z-index: 9999; /* Ensure it appears above all other elements */
  animation: cameraFlash 1s ease-in-out forwards; /* Trigger animation */
}